In [7]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

##### Pandas folosește două structuri de date cheie Seria și DataFrame. O serie este o listă specială de valori etichetată. Un DataFrame este un dicționar al seriei și este utilizat pentru a reprezenta tabele de date.

# Citim fisierul CSV

In [8]:
# transforma fisierul csv intr-o matrice (structura tabelara)
csv = pd.read_csv('people-example.csv')

# CSV

In [11]:
# afiseaza primele randru din tabel
csv.head()
# afiseaza ultimele randuri din tabel
# csv.tail()

  First Name Last Name        Country  age
0        Bob     Smith  United States   24
1      Alice  Williams         Canada   23
2    Malcolm      Jone        England   22
3      Felix     Brown            USA   23
4       Alex    Cooper         Poland   23

In [14]:
# Exemplu de series pentru country
country = Series(csv['Country'])
country

0    United States
1           Canada
2          England
3              USA
4           Poland
5    United States
6      Switzerland
Name: Country, dtype: object

# Studierea coloanelor din setul de date

In [15]:
# afiseaza tot din coloana "country"
csv['Country']

0    United States
1           Canada
2          England
3              USA
4           Poland
5    United States
6      Switzerland
Name: Country, dtype: object

In [16]:
csv['age']

0    24
1    23
2    22
3    23
4    23
5    22
6    25
Name: age, dtype: int64

In [17]:
# media de varsta
csv['age'].mean()

23.142857142857142

In [18]:
# varsta maximala
csv['age'].max()

25

# Adaugare coloana noua

In [19]:
csv['Full Name'] = csv['First Name'] + ' ' + csv['Last Name']

In [20]:
csv

  First Name Last Name        Country  age       Full Name
0        Bob     Smith  United States   24       Bob Smith
1      Alice  Williams         Canada   23  Alice Williams
2    Malcolm      Jone        England   22    Malcolm Jone
3      Felix     Brown            USA   23     Felix Brown
4       Alex    Cooper         Poland   23     Alex Cooper
5        Tod  Campbell  United States   22    Tod Campbell
6      Derek      Ward    Switzerland   25      Derek Ward

In [21]:
# incrementarea varstei cu 2 pentru fiecare intrare din tabel
csv['age'] + 2

0    26
1    25
2    24
3    25
4    25
5    24
6    27
Name: age, dtype: int64

# Manipularea datelor

In [22]:
csv['Country']

0    United States
1           Canada
2          England
3              USA
4           Poland
5    United States
6      Switzerland
Name: Country, dtype: object

In [26]:
# observam ca USA si United states sunt separate, dar este aceeasi tara. Hai sa le combinam
# oriunde gasim stringul USA,inlocuim cu "United states"

In [26]:
def inloc_usa(country):
    if(country == 'USA'):
        return 'United States'
    return country

# column.apply(metoda)
csv['Country'] = csv['Country'].apply(inloc_usa)

In [27]:
# in loc de usa o sa fie deja 'United States'
csv['Country']

0    United States
1           Canada
2          England
3    United States
4           Poland
5    United States
6      Switzerland
Name: Country, dtype: object

# Experimentati la dorinta manipulari...