In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
student_data = pd.read_csv('D:\Anul IV\AI\Laboratorul II\student-mat.csv', header = 1, delimiter=';')
student_data.columns = ['school', 'sex', 'age', 'address', 'famsize', 'pstatus', 'medu', 'fedu', 'mjob', 'fjob',
                        'reason', 'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup',
                        'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic', 'farmel', 'freetime', 'goout',
                        'dalc', 'walc', 'health', 'absences', 'g1', 'g2', 'g3']
student_data

,school,sex,age,address,famsize,pstatus,medu,fedu,mjob,fjob,...,farmel,freetime,goout,dalc,walc,health,absences,g1,g2,g3
0,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
1,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
2,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
3,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
4,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
390,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
391,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
392,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
393,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [3]:
from sklearn import preprocessing
from sklearn.preprocessing import OrdinalEncoder

enc = preprocessing.OrdinalEncoder()

enc.fit(student_data)

data = enc.transform(student_data)

student_data = pd.DataFrame({'school': data[:, 0], 'sex': data[:, 1], 'age': data[:, 2], 'address': data[:, 3],
                             'famsize': data[:, 4], 'pstatus': data[:, 5], 'medu': data[:, 6], 'fedu': data[:, 7],
                             'mjob': data[:, 8], 'fjob': data[:, 9], 'reason': data[:, 10], 'guardian': data[:, 11],
                             'traveltime': data[:, 12], 'studytime': data[:, 13], 'failures': data[:, 14],
                             'schoolsup': data[:, 15], 'famsup': data[:, 16], 'paid': data[:, 17], 'activities': data[:, 18],
                             'nursery': data[:, 19], 'higher': data[:, 20], 'internet': data[:, 21], 'romantic': data[:, 22],
                             'farmel': data[:, 23], 'freetime': data[:, 24], 'goout': data[:, 25], 'dalc': data[:, 26],
                             'walc': data[:, 27], 'health': data[:, 28], 'absences': data[:, 29], 'g1': data[:, 30],
                             'g2': data[:, 31], 'g3': data[:, 32]})

student_data['studytime']

0      1.0
1      1.0
2      2.0
3      1.0
4      1.0
      ...
389    1.0
390    0.0
391    0.0
392    0.0
393    0.0
Name: studytime, Length: 394, dtype: float64

In [4]:
features = ['studytime', 'romantic', 'absences', 'health']
X = student_data[features]
X = X[X['absences'] < 20]
X = X[X['studytime'] > 0]
Y = student_data[student_data['absences'] < 20]
Y = Y[Y['studytime'] > 0]
Y = Y.g3

In [5]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.03, random_state=1)
X_test

     studytime  romantic  absences  health
135        1.0       0.0       0.0     4.0
23         2.0       0.0       2.0     4.0
268        1.0       1.0       0.0     2.0
84         1.0       1.0       6.0     4.0
353        1.0       1.0       4.0     1.0
69         3.0       0.0       0.0     4.0
292        3.0       0.0       6.0     2.0
272        1.0       1.0       2.0     0.0
12         1.0       0.0       2.0     2.0

In [6]:
classifier = DecisionTreeClassifier(criterion="entropy")
classifier_decision_tree = classifier.fit(X_train,Y_train)

In [7]:
Y_predicted = classifier_decision_tree.predict(X_test)

print("Accuracy:",metrics.accuracy_score(Y_test, Y_predicted))
print(Y_test, Y_predicted)

Accuracy: 0.3333333333333333
135     0.0
23      5.0
268     0.0
84      5.0
353     8.0
69     12.0
292    15.0
272    11.0
12      8.0
Name: g3, dtype: float64 [ 9.  8.  0.  9.  8. 15. 10.  7.  8.]

In [8]:
prediction = X_test[X_test["studytime"] == 3.0]
classifier_decision_tree.predict(prediction)

array([15., 10.])

In [9]:
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus

classes = ["%.2f" % number for number in classifier_decision_tree.classes_]

dot_data = StringIO()
export_graphviz(classifier_decision_tree, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True, feature_names = features,class_names=classes)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_png('final_mark.png')
Image(graph.create_png())

c:\users\staseamba\envs\laboratorul2\lib\site-packages\sklearn\externals\six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

InvocationException: GraphViz's executables not found